# Terraform Ignores
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars

# Build Location Ignores
Temp/

# Reactjs Frontend Code Ignores
FrontendCode/.env
FrontendCode/node_modules/
FrontendCode/Build

# Mac Folder
.DS_Store


