# Terraform Ignores
**/.terraform/*
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
config.azurerm.tfbackend

# Build Location Ignores
Temp/

# ReactJS Frontend Code Ignores
.env
node_modules
App/FrontendPortal/build

# Mac Folder
.DS_Store
