sandbox_azure_subscription_id = ""

azuread_tenant_id = ""

ip_allowlist = [
  {
    name     = "AdminA"
    ip       = "1.1.1.1"
    cidr     = 32
    priority = 1
  },
  {
    name     = "HQ"
    ip       = "123.123.123.123"
    cidr     = 32
    priority = 2
  }
]

region = "eastus"

resource_group_name = ""

key_vault_name = ""

storage_account_name = ""

log_analytics_name = ""

application_insights_name = ""

managed_identity_name = ""

enable_private_networking = true #must be kept as true. Future Improvement https://github.com/bcasey266/ASAP/issues/96

vnet_name = ""

vnet_ip_space = [{
  vnetcidr            = ["10.0.0.0/24"]
  privateendpointcidr = ["10.0.0.64/27"]
  vnetintegrationcidr = ["10.0.0.96/27"]
}]

app_service_plan_name = ""

function_app_name = ""

enable_frontend = true #"enable_apim" must be true if this is true

app_service_plan_frontend_name = ""

web_app_frontend_name = ""

enable_apim = true

api_management_name = ""

api_management_admin_name = ""

api_management_admin_email = ""

frontend_app_registration_name = ""

enable_notifications = true

logic_app_name = ""

logic_app_region = "eastus2"
